#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.flex-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.flex-container-horizontal{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;

}

.flex-element {
    /*flex: 1;*/
}

.trip-block {
    margin: 16px;
    padding: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .results {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
/*.flex-container > select {*/
/*    width: 100px;*/
/*    margin: 10px;*/
/*    text-align: center;*/
/*    line-height: 75px;*/
/*    font-size: 30px;*/
/*    display: table-cell; vertical-align: middle;*/
/*}*/